html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(150deg, #87cefa, #0000ff);
}

.menu-underline{
    display: block;
    width: 100%;
    float: left;
    font-size: 20px;
    background-image: linear-gradient(150deg, #a4b2e1, #8189b3);
    border-radius: 20px;
}

.menu-underline a{
    text-decoration: none;
    color: #3b3b3b;
    text-align: center;
    width: 130px;
    padding: 0.5em 0;
    display: inline-block;
    font-weight: bold;
    transition: all .5s ease-in-out;
}

.menu-underline a:hover{
    text-decoration: none;
}

.menu-underline .underline{
    width: 130px;
    height: 6px;
    border-radius: 3px;
    background-color: #ffcd0a;
    transition: all .4s ease-in-out;
}

.menu-underline a:nth-child(1):hover~.underline{
    transition: all .4s ease-in-out;
}

.menu-underline a:nth-child(1):hover{
    color: #ffcd0a;
}

.menu-underline a:nth-child(2):hover{
    color: #00cad2;
}

.menu-underline a:nth-child(3):hover{
    color: #ff0000;
}

.menu-underline a:nth-child(4):hover{
    color: #0000ff;
}

.menu-underline a:nth-child(5):hover{
    color: #900020;
}

.menu-underline a:nth-child(6):hover{
    color: #ffff00;
}

.menu-underline a:nth-child(7):hover{
    color: burlywood;
}

.menu-underline a:nth-child(2):hover~.underline{
    transform: translate(135px);
    transition: all .4s ease-in-out;
    background-color: #00cad2;
}

.menu-underline a:nth-child(3):hover~.underline{
    transform: translate(270px);
    transition: all .4s ease-in-out;
    background-color: #ff0000;
}

.menu-underline a:nth-child(4):hover~.underline{
    transform: translate(405px);
    transition: all .4s ease-in-out;
    background-color: #0000ff;
}

.menu-underline a:nth-child(5):hover~.underline{
    transform: translate(540px);
    transition: all .4s ease-in-out;
    background-color: #900020;
}

.menu-underline a:nth-child(6):hover~.underline{
    transform: translate(675px);
    transition: all .4s ease-in-out;
    background-color: #ffff00;
}

.menu-underline a:nth-child(7):hover~.underline{
    transform: translate(810px);
    transition: all .4s ease-in-out;
    background-color: burlywood;
}

.sustentabilidade-no-brasil{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 12px 0px;
    padding: 12px 10px;
    text-align: justify;
}

p{
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    margin: 5px 5px;
    padding: 6px 5px;
    text-align: justify;
    color: whitesmoke;
    text-indent: 40px;
}

header img{
    margin: auto;
    max-width: 500px;
    max-height: 600px;
    padding: 2px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

header figure figcaption{
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    margin: auto;
    padding: 2px 10px;
    text-align: justify;
    color: white;
    display: flex;
    justify-content: center;
}

.desafios-brasil{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 12px 0px;
    padding: 12px 10px;
    text-align: justify;
}

main img{
    margin: auto;
    max-width: 800px;
    max-height: 600px;
    padding: 2px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

main figure figcaption{
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    margin: auto;
    padding: 2px 10px;
    text-align: justify;
    color: white;
    display: flex;
    justify-content: center;
}

.solucoes{
    font-family: 'Montserrat';
    font-size: 40px;
    margin: 12px 0px;
    padding: 12px 10px;
    text-align: justify;
}

.objetivos{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 12px 0px;
    padding: 12px 10px;
    text-align: justify;
}

footer img{
    margin: auto;
    max-width: 500px;
    max-height: 600px;
    padding: 2px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

footer figure figcaption{
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    margin: auto;
    padding: 2px 10px;
    text-align: justify;
    color: white;
    display: flex;
    justify-content: center;
}

footer iframe{
    border-radius: 10px;
    position: center;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

footer button{
    margin: auto;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #3b3b3b;
}

footer a{
    list-style: none;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
}